<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jt.androidartexplore">

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidArtExplore">
        <activity
            android:name=".chapter2.NewProcessActivity"
            android:process=":remote" />
        <activity
            android:name=".chapter2.NewProcess2Activity"
            android:process="com.jt.chapter2.remote" />
        <activity
            android:name=".chapter1.SecondActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.jt.test" />
        <activity
            android:name=".chapter1.ThirdActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.jt.test" />
        <activity android:name=".chapter1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".chapter2.AIDLBookService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.jt.androidartexplore.action"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>